* {
  font-family: 'Roboto', sans-serif !important;
  max-width: 100%;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #444; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2fa78e; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3fd4b7; 
}



.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.landing-page {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.landing-page-single-post {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;

}

.bg-center {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-top {
  padding: 2rem 1.5rem 3rem;
  font-weight: 300 !important;
}

.card-top h4 {
  font-weight: 300 !important;
}

.card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
  border: none;
}

.card.card-special {
  box-shadow: 0px 0px 20px rgba(255, 176, 36, .8);
}

.card-special .card-top {
  background-color: #ffb024 !important;
}

.card-special .star-img {
  position: absolute;
  width: 80px;
  animation: rotate 6s infinite;
  left: -40px;
  top: -40px;
}

.star-news {
  width: 70px;
}

@keyframes rotate {
  0% {transform: rotate(0deg) scale(0.8)}
  50% {transform: rotate(180deg) scale(1.1)}
  100% {transform: rotate(360deg) scale(0.8)}
}

.testimonials-slider {
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-slider h2 {
  font-weight: 300;
}

.carousel-item {
  color: #ffb024;
}

.premium-content {
  border: 1px #ffb024 solid;
  color: #ffb024;
  width: 50%;
  margin: auto;
  margin-bottom: 1rem;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
